/* CSS DOCUMENT */

body{
    background-color: lavender;
}

h1{
    font-family: sans-serif;
    text-transform: uppercase; 
    font-size: 1.6em; 
    color: saddlebrown; 
   padding: 2em 0em 0em 0em;
        }


a{
    text-decoration: none; 
    color: rgb(0,128,0); 
}

.mainmenu ul{
    list-style-type:none; 
    text-decoration: none; 
     margin: 2em 0em 0em 0em;
    Lift-style-type: none; 
}

a.mainmenu{
    font-family: sans-serif; 
    text-decoration: none; 
}


.mainmenu li{
    float: left; 
    margin-right: 1em; 
    text-decoration: none; 
}

div.maincontent{
    font-family: sans-serif; 
    padding: 0.5em 0em 0em 0em;
}

div.maincontent p{
    text-align: left; 

}

div.juice img{
    
    width: 30%;
    float: right; 
    padding:8em 3em 0em 0em;
}
img{
    width: 30%;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    float: left; 
}
blockquote {
	quotes: "\201c" "\201D" "\2018" "\2019";
	margin-top: 3%;
}

blockquote > p {
	display: inline;
	padding-top: 0;
	line-height: 1.25em;
}

blockquote:nth-child(even):before {
	color: #980abf;
	font-size: 2.75em;
	content: open-quote;
	line-height: 0.1em;
	vertical-align: -0.35em;
	padding-right: 0.1em;
}

blockquote:nth-child(even) > p:after {
	color: #980abf;
	font-size: 2.25em;
	content: close-quote;
	line-height: 0.1em;
	vertical-align: -0.4em;
	padding-left: 0.1em;
}

blockquote:nth-child(odd):before {
	color: #c9100a;
	font-size: 2.75em;
	content: open-quote;
	line-height: 0.1em;
	vertical-align: -0.35em;
	padding-right: 0.1em;
}

blockquote:nth-child(odd) > p:after {
	color: #c9100a;
	font-size: 2.25em;
	content: close-quote;
	line-height: 0.1em;
	vertical-align: -0.4em;
	padding-left: 0.1em;
}

.from {
	font-size: 0.75em;
	padding-left: 1%;
	padding-top: 0;
	text-align: right;
} 

.productToCart {
	text-align: right;
}

#shop img {
	margin: 3%;
	cursor: pointer;
}

#shoppingCart {
	float: right;
}
footer{
    font-family: sans-serif;
    text-decoration: none;  
    margin: 7em 0em 0em 0em;
    background-color: white;
}


