/* CSS DOCUMENT */

body {
  background-color: rgb(255, 247, 250);
}

h1{
    font-family: serif;
    font-size:4em;
    text-align: center;
    color:rgb(40, 78, 165);
    
}

h2{
    font-family: serif;
    text-align: center; 
    margin: 0em 0em -0.2em 0em; 
        
}

h2.mainmenu{
    font-size:3em;
}

h3{
    font-family: sans-serif;
    text-align: center; 
    text-transform: uppercase; 
    color:rgb(40, 78, 165);
    
}

h4{
    font-family: sans-serif;
    font-weight:bold; 
    margin: 0em 0em -0.5em 0em; 
    color:rgb(106, 137, 208);
    
}

p.prices{
    font-family: sans-serif;
    color: rgb(251, 120, 188); 
    
}
