body{
    background-color: floralwhite; 
    font-family: 'Montserrat'; 
    text-align: left; 
}

h1{
    font-family: 'Montserrat', bold 700;
    font-size: 3em;
    color: #885314; 
}

h2{
    color: #885314;
}

h3{
    color: #B99263; 
}


p{
    margin: 0;
    padding: 0.2em; 
    color: black; 
    line-height: 140%;
}

a{
    text-decoration: none; 
    color: #5691C1; 
}

.nav{
    overflow: hidden; 
    list-style-type: none;

}

.nav a{
    
    float: left; 
    color: #2C5F88;  
    padding: 1em 2em 0em 2em; 
        background-color: #fffffff;
    text-decoration: none; 
}

.nav a:hover{
    color: #5691C1;
}

.nav a.active{
    color: #2C5F88; 
}

.nav li{
    display inline-block; 
    top: 3em;
}


img{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5em;
}


.introduction, .about, .orderonline, .findus{
    font-size: 0.9em;
    padding: 1em 1em 1em 4em ; 
    text-align: left; 
}

.location img{
    padding: 0em 9em 0em 0em; 
}

.about img{
    
    padding: 0em 9em 0em 0em; 
}

ul{
        list-style-type: none; 
        display: inline; 
}


div.location{

    padding: 3em 0.1em 1em 5em; 
    text-align: left; 
}

td.days{
    font-weight: bold;
    
}

div.hours{
    padding: 1em 4em 10em 5em; 
    float: right; 
    text-align: left;
    position: absolute; 
    
}

td.hours{
        padding: 0em 1.4em 0em 1em; 
}

div.contact h2{
    font-size:2em;
    padding: 0em 0em 0em 0em; 
    margin-top: 1.5em;
}

.contact h4{
    font-size: 1em; 
    color: #2C5F88;  
    
}

p.info-day{
    font-weight: bold; 
}


div.menu{
    text-align: left; 
}


.menu h1{
    text-align: center;
    clear:both;
}


div.findus li{
    padding: 2em; 
}
div.findus img{
    width: 50%;
    display: inline-block;
}


p.price{
    font-weight:500; 
    padding:1em 0em 1em 0em; 
}

p.description{
    padding:0em 0em 1em 0em; 
    font-size: 11px; 
    color: #707070; 
}

td.item{
    padding:0em 0em 1em 0em; 
    font-weight:800;  
    color: #B99263;
}

.bagelsmenu, .schmearmenu, .breakfastmenu, .lunchmenu, .snacksmenu td{
    padding: 1.5em 1em 1em 1.5em; 
}

.salads, .bythepound, .pasteries, .drinksmenu td{
    padding: 1.5em 1em 1em 1.5em; 
}

.pasteries, .drinksmenu tr{
    padding: 0em 3em 0em 3em; 
    align-content: center; 
}

.menu{
    margin-left: auto;
    margin-right: auto;
}
div.menu table{
         border-spacing: 50px; 
    padding: 0em 0em 0em 2em; 
}

.menuintro{
    padding: 1em 1em 1em 4em ; 
}

div.bagelabout{
    margin: 0em 0em 0em; 
    padding: 0em em 2em 0em; 
}
}
